[buildout]
index = http://repo.liberiun.com/simple
download-cache = ${buildout:directory}/downloads
extends =
     versions.cfg
extensions +=
    mr.developer
    buildout.dumppickedversions
unzip = true
versions = versions
# Always ensure lxml is first in parts
parts =
    lxml
    zopeskel
    instance
    worker
    zopepy
    omelette
    command
auto-checkout = *
always-checkout = false

develop =
     src/vindula.myvindula
     src/vindula.themedefault
     src/vindula.content
     src/vindula.controlpanel
     src/vindula.food
     src/vindula.reservacorporativa
     src/vindula.contentcore
     src/vindula.memorando
     src/Solgema.fullcalendar
     src/Products.Poi
     src/Products.Ploneboard
     src/collective.blogging
     src/vindula.chat
     src/collective.ckeditor
     src/Products.SmartColorWidget
     src/Products.UserAndGroupSelectionWidget
     src/Products.PlonePopoll
     src/collective.classifieds
     src/liberiun.portal.banner

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
		zope_i18n_compile_mo_files true
		ZC_ASYNC_UUID ${buildout:directory}/var/instance-uuid.txt
debug-mode = off
verbose-security = off
eggs =
    faulthandler
    Pillow
    storm
    pysqlite   # used in development case. In production, use mysql/post 
    RelStorage
    MySQL-python
    Plone
    plone.app.dexterity
    vindula.myvindula
    vindula.content
    vindula.themedefault
    vindula.controlpanel
    vindula.food
    vindula.reservacorporativa
    vindula.contentcore
    vindula.memorando
    z3c.jbot
    plone.app.referenceablebehavior
    Products.PloneFormGen
    Solgema.fullcalendar
    collective.quickupload
    Products.Poi
    Products.Ploneboard
    collective.blogging
    vindula.chat
    plone.app.ldap
    collective.documentviewer
    collective.ckeditor
    Products.SmartColorWidget
    Products.QuickImporter
    Products.PlonePopoll
    collective.classifieds
    liberiun.portal.banner
    Products.PloneHotfix20121106
    plone.app.async

rel-storage =
    type mysql
    db DB-name
    user DB-user
    passwd DB-password
    shared-blob-dir off
    blob-dir ${buildout:directory}/var/blobstorage
    cache-servers 127.0.0.1:11211
    cache-module-name memcache
    cache-prefix vindula_DB-name

zcml = 
     storm.zope-meta
     storm.zope
     Solgema.fullcalendar
     collective.quickupload
     vindula.chat
     plone.app.ldap
     Products.QuickImporter
     collective.classifieds
     liberiun.portal.banner

zcml-additional =
		<include package="plone.app.async" file="single_db_instance.zcml" />

[worker]
recipe = plone.recipe.zope2instance
user = admin:lib3riun123
eggs = ${instance:eggs}
zcml = ${instance:zcml}
http-address = 8090
rel-storage = ${instance:rel-storage}
zcml-additional =
		<include package="plone.app.async" file="single_db_worker.zcml" />
environment-vars =
		ZC_ASYNC_UUID ${buildout:directory}/var/worker-uuid.txt

[sources]
vindula.controlpanel                       = git git://github.com/vindula/vindula.controlpanel                      rev=v2.0a3
vindula.myvindula                          = git git://github.com/vindula/vindula.myvindula                         rev=v2.0a3
vindula.content                            = git git://github.com/vindula/vindula.content                           rev=v2.0a3
vindula.contentcore                        = git git://github.com/vindula/vindula.contentcore                       rev=v2.0a3
vindula.themedefault                       = git git://github.com/vindula/vindula.themedefault                      rev=v2.0a3
vindula.food                               = git git://github.com/vindula/vindula.food.git                          rev=v2.0a3
vindula.memorando                          = git git://github.com/vindula/vindula.memorando.git                     rev=v2.0a3
vindula.chat                               = git git://github.com/vindula/vindula.chat.git                          rev=v2.0a1
vindula.reservacorporativa                 = git git://github.com/vindula/vindula.reservacorporativa.git            rev=v2.0a3
Solgema.fullcalendar                       = git git://github.com/vindula/Solgema.fullcalendar.git                  rev=v2.0a3
collective.ckeditor                        = git git://github.com/vindula/collective.ckeditor.git                   rev=v2.0a3
Products.UserAndGroupSelectionWidget       = git git://github.com/vindula/Products.UserAndGroupSelectionWidget.git  rev=v2.0a3
collective.blogging                        = git git://github.com/vindula/collective.blogging.git                   rev=v2.0a3
Products.Ploneboard                        = git git://github.com/vindula/Products.Ploneboard.git                   rev=v2.0a3
Products.Poi                               = git git://github.com/vindula/Products.Poi.git                          rev=v2.0a3
Products.SmartColorWidget                  = git git://github.com/vindula/Products.SmartColorWidget.git             rev=v2.0a3
Products.PlonePopoll                       = git git://github.com/vindula/Products.PlonePopoll                      rev=v2.0a3
collective.classifieds                     = git git://github.com/vindula/collective.classifieds                    rev=v2.0a3
liberiun.portal.banner                     = git git://github.com/vindula/liberiun.portal.banner.git

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml == ${versions:lxml}

[zopeskel]
recipe = zc.recipe.egg
eggs =
   ZopeSkel
   Paste
   PasteDeploy
   PasteScript
   zopeskel.dexterity
   ${instance:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy zodbconvert

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[command]
recipe = plone.recipe.command
command = 
	echo "import sys; sys.setdefaultencoding('utf-8')" > ${buildout:directory}/../lib/python2.7/site-packages/sitecustomize.py
